<div class="panel panel-primary">

	<div class="panel-heading" ng-click="vm.collapse()">
		{{vm.user.name}}
	</div>

	<div class="panel-body" ng-hide="vm.collapsedState">
		
		<x-my-app-address user="vm.user"></x-my-app-address>

		<div>
			<h4>Friends</h4>
			<ul>
				<li ng-repeat="friend in vm.user.friends">{{friend}}</li>
			</ul>
		</div>

		<div ng-show="!!vm.user.rank">
			<h4>Rank</h4>
			<div>{{vm.user.rank}}</div>
		</div>
		
		<button ng-show="!vm.user.rank" class="btn btn-default" ng-click="vm.knightMe()">Knight me</button>

	</div>
	
</div>